html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: .875rem;
  line-height: 1.5;
}

header {
  text-align: center;
}

section {
  margin: 0 .9rem 1rem;
  background-color: #f2f2f2;
}

h1, h2, h3, p {
  margin: 0;
  font-weight: normal;
  font-size: .875rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
}

h3 {
  font-style: italic;
  font-size: .875rem;
}

img {
  display: block;
  width: 100px;
  margin: 0 0 1.5rem;
}

p {
  margin: 0 0 1.5rem;
  font-size: 1rem;
}

div {
  padding: .75rem;
  margin: 0 auto 1.5rem;
}

.anderon {
  float: left;
  width: 25%;
  background-color: #e2e2e2;
}

.dinosaur {
  float: left;
  width: 25%;
  background-color: #ccc;
}

.dragon {
  float: left;
  width: 25%;
  background-color: #aaa;
}

.laser {
  float: left;
  width: 25%;
  background-color: #999;
}

a {
  margin: 0;
  padding: .4em .75em .3em;
  border-radius: 8px;
}

.btn {
  color: #fff;
  background-color: #333;
  text-decoration: none;
  border-width: 3px;
  border-color: #333;
  border-style: solid;
}

div > .btn {
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
}
